{"word2vec_config":
	{
	  "size":300,
	  "alpha":0.025,
	  "window":10,
	  "min_count":5,
	  "max_vocab_size":null,
	  "sample":0.001,
	  "seed":1,
	  "workers":8,
	  "min_alpha":0.0001,
	  "sg":0,
	  "hs":0,
	  "negative":10, 
	  "cbow_mean":1, 
	  "hashfxn":"built-in function hash", 
	  "iter":8, 
	  "null_word":0, 
	  "trim_rule":null, 
	  "sorted_vocab":1, 
	  "batch_words":10000, 
	  "compute_loss":false
	},
"index":"/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
"text_file":"",
"out":"/home/thiziri/Documents/DOCTORAT/COLLECTION/Embeddings",
"data_name":"AP88",
"stopping":false,
"stop_file":""
}
