{
  "only_queries":true,
  "only_docs" :false,
  "docs_and_queries":false,
  "folds_num":1,
  "index":"/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/Robust",
  "queries_folder":"/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/robust4/top/topics",
  "output_folder":"/home/thiziri/Documents/DOCTORAT/COLLECTION/split_data/by_queries/Robust/same_test_train_valid",
  "same_test_train_valid":true
}